<!DOCTYPE html>
<html>
<head>
    <title>Registered Students</title>
</head>
<body>
    <h2>Registered Students</h2>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Roll Number</th>
            <th>Branch</th>
            <th>Email</th>
        </tr>

        {% for s in students %}
        <tr>
            <td>{{ s["Name"] }}</td>
            <td>{{ s["Roll Number"] }}</td>
            <td>{{ s["Branch"] }}</td>
            <td>{{ s["Email"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Back to Registration</a>
</body>
</html>
